@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

::selection {
    @apply bg-rose-500 text-white;
}

body::-webkit-scrollbar {
    @apply w-3;
}

body::-webkit-scrollbar-thumb {
    @apply bg-rose-600 w-3 h-6;
}

.content {
    max-width: 1700px !important;
    margin: 0 auto;
}

.border-1 {
    border-width: 1px;
}

.border-1:hover {
    border-width: 1px;
}

@media screen and (max-width: 768px) {
    .welcome.mx-20, nav.mx-20 {
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media screen and (max-width: 425px) {
    .title {
        font-size: 25px;
    }
}